{
  "presets": ["react-native"],
  "plugins": [
    "lodash",
    "react-require",
    ["@babel/plugin-syntax-decorators", {"legacy": true}],
    [
      "module-resolver",
      {
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {
          "@": "./src/"
        }
      }
    ],
    [
      "transform-inline-environment-variables",
      {
        "include": [
          "NODE_ENV",
          "GOOGLE_PLACES_API_KEY",
          "API_URL",
          "IOS_API_URL",
          "ANDROID_API_URL",
          "CDN_URL",
          "IOS_CDN_URL",
          "ANDROID_CDN_URL",
          "APOLLO_ENGINE_URL",
          "IOS_APOLLO_ENGINE_URL",
          "ANDROID_APOLLO_ENGINE_URL"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-react-jsx-source"]
    }
  }
}
